{% extends "base.html.twig" %}

{% block body %}
    Account page

    <p>
        <a href="{{ path('upload') }}">Upload</a>
    </p>
    {% if courses is defined %}
        {% for course in courses %}
            {{ dump(course) }}
        {% endfor %}
    {% else %}
        Aucun parcours
    {% endif %}
{% endblock %}