{% extends "base.html.twig" %}

{% block body %}
    <section class="container">
        <p class="text-center">Votre compte a été créé !</p>
        <p class="text-center">Vérifiez votre boîte e-mail afin d'activer votre compte !</p>
    </section>
{% endblock %}