{% extends "base.html.twig" %}

{% block body %}
    <section class="container">
        <h1>Bienvenue sur NLROC</h1>
        {{ form_start(form) }}
        <fieldset class="form-group">
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
            {{ form_errors(form.username) }}
        </fieldset>
        <fieldset class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </fieldset>
        <fieldset class="form-group">
            {{ form_widget(form.password) }}
            {{ form_errors(form.password) }}
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" name="register_submit" value="CREER MON COMPTE" class="btn btn-bd-primary">
        </fieldset>
        {{ form_end(form) }}
        <a href="{{ path('login') }}" class="btn btn-bd-download">Connexion</a>
    </section>
{% endblock %}