{% extends "base.html.twig" %}

{% block body %}
    <h1>Upload course</h1>
    {{ form_start(form) }}
    <fieldset>
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </fieldset>
    <fieldset>
        {{ form_label(form.file) }}
        {{ form_widget(form.file) }}
        {{ form_errors(form.file) }}
    </fieldset>
    <button type="submit">Valider</button>
    {{ form_end(form) }}
{% endblock %}